<main>
	<div class="container">
		{{ if .error }}
			<div class="toast toast-error">
				<p>{{ .error }}</p>
				<div class="toast-progress"></div>
			</div>
		{{ end }}
		{{ if .message }}
			<div class="toast toast-success">
				<p>{{ .message }}</p>
				<div class="toast-progress"></div>
			</div>
		{{ end }}
		<aside>
			<a href="#" class="add btn btn-modal" data-target="#add-modal">+ Add</a>
			<div id="add-modal" class="modal">
				<div class="modal-container">
					<div class="modal-header">
						<a href="#" class="close btn">×</a>
						<div>Add Secret</div>
					</div>
					<div class="modal-content">
						<form action="/secrets" method="POST">
							<input id="secret-add-name" type="text" name="name" required autocomplete="off" autofocus>
							<label for="secret-add-name"><span>Name</span></label>
							<textarea id="secret-add-value" name="value" required autocomplete="off" rows="5"></textarea>
							<label for="secret-add-value"><span>Value</span></label>
							<input type="submit" value="Add">
						</form>
					</div>
				</div>
			</div>
			<a href="/" class="logout btn">× Logout</a>
		</aside>
		<form class="filter" action="/secrets" method="GET" data-container="#secrets">
			<input id="filter" name="filter" type="text" autocomplete="off" autofocus>
			<label for="filter"><span>Filter</span></label>
			<input type="submit" value="Search" hidden>
		</form>
		<div id="secrets">
		  {{ template "/templates/views/_secrets.tmpl" . }}
		</div>
	</div>
</main>
