<!DOCTYPE html>
<html>
	<head>
		<title>Secrets</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/public/assets/css/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="/public/assets/css/app.css">
		<link rel="icon" type="image/png" href="/public/assets/favicon.png">
		<script src="/public/assets/js/session.js"></script>
		<script src="/public/assets/js/app.js"></script>
		<script src="/public/assets/js/modal.js"></script>
		<script src="/public/assets/js/auto_suggest.js"></script>
		<script>
			document.addEventListener("DOMContentLoaded", function() {
				new App("{{ .csrfToken }}", {{ .sessionMaxAgeInSeconds }}).initialize()
				Modal()
				AutoSuggest()
			})
		</script>
	</head>
	<body>
	  <main>
			<div class="container">
				{{ if .error }}
					<div class="toast toast-error">
					  <p>{{ .error }}</p>
					  <div class="toast-progress"></div>
					</div>
				{{ end }}
				<h1 id="title"><img src="/public/assets/favicon.png">ecrets</h1>
				<form id="login" action="/login" method="post">
					<input id="user" name="user" type="text" required autocomplete="off" value="{{ .user }}">
					<label for="user"><span>User</span></label>
					<input id="password" name="password" type="password" required autocomplete="off" {{ if .user }}autofocus{{ end }}>
					<label for="password"><span>Password</span></label>
					<input type="submit" value="Login">
				</form>
			</div>
	  </main>
	</body>
</html>
