@import "nice-inputs.css";

body {
  font-family: Helvetica, 'Times New Roman', Times, sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 1.5em;
}

.error {
  font-size: 1.2em;
  text-align: center;

  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;

  position: relative;
  padding: .75em 1.25em;
  border: 1px solid transparent;
  border-radius: .25em;
  margin: 2em auto;
}

.filter {
  margin-top: 5em;
}

.logout button {
  float: right;
  display: block;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
  background: #eee;
  border: 0;
  font-size: 16px;
}

@media (max-width: 767px) {
  .error {
    width: 80%;
  }
}

.secrets {
  margin-top: 3em;
}

.secret h3 {
  margin: 0;
  padding: 0;
}

.secret h3 {
  cursor: pointer;
}

.secret .value {
  max-height: 0;
  max-width: 40vw;
  overflow: hidden;
  transition: all .5s ease-in-out;
  transition-property: max-height;
  font-size: 1.5em;
  white-space: pre;
}

.secret input:checked ~ .value {
  max-height: 1000px;
}

.secret .value {
  width: 100%;
  overflow-x: scroll;
  background-color: #f7f7f7;
}

input[name=secret] {
  display: none;
}

main {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main form {
  width: 40vw;
}

@media (max-width: 767px) {
  main form {
    width: 100%;
  }
}
