@import "nice-inputs.css";

body {
  font-family: Helvetica, 'Times New Roman', Times, sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 1.5em;
}

label {
  cursor: pointer;
}

.error {
  font-size: 1.2em;
  text-align: center;

  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;

  position: relative;
  padding: .75em 1.25em;
  border: 1px solid transparent;
  border-radius: .25em;
  margin: 2em auto;
}

.filter {
  margin-top: 5em;
}

.logout button {
  transition: background 0.2s ease;
  display: block;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
  background: #eee;
  border: 0;
  font-size: 16px;
}

.logout button:hover {
  background: #e2e3e5;
}

@media (max-width: 767px) {
  .error {
    width: 80%;
  }
}

.secrets {
  margin-top: 3em;
}

.secret {
  margin-bottom: 1em;
}

.secret label {
  margin: 0;
  padding: 0;
}

.secret .header {
  font-size: 26px;
}

input[name=secret] {
  display: none;
}

.secret input:checked ~ .edit-modal {
  display: block;
}

.edit-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.edit-modal .modal-container {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.edit-modal .modal-header {
  background: #e2e3e5;
  font-size: 32px;
}

.edit-modal .modal-header,
.edit-modal .modal-content {
  padding: 16px;
}

.edit-modal .close {
  float: right;
  font-weight: bold;
}

.edit-modal .close:hover,
.edit-modal .close:focus {
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

aside {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

main {
  min-width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main form {
  max-width: 60vw;
}

.edit-modal form {
  max-width: 100%;
}

@media (max-width: 767px) {
  main form {
    width: 100%;
  }
}
