@import "nice-inputs.css";

body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

@media (max-width: 767px) {
  body {
    font-size: .8em;
  }
}

h1 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 1.5em;
}

label {
  cursor: pointer;
}

.container {
  width: 40%;
}

@media (max-width: 767px) {
  .container {
    width: 95%;
  }
}

.error, .success {
  font-size: 1.2em;
  text-align: center;

  position: relative;
  padding: .75em 1.25em;
  border: 1px solid transparent;
  border-radius: .25em;
  margin: 2em auto;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

input[type="submit"] {
  color: #0c5460;
  background-color: rgba(209,236,241,.7);
  border-color: #bee5eb;
}

input[type="submit"]:hover {
  background-color: rgb(209,236,241);
}

.filter {
  margin-top: 5em;
}

aside .add,
aside .logout {
  transition: background 0.2s ease;
  display: block;
  margin: 10px 0 0 .75em;
  padding: 10px;
  cursor: pointer;
  background: #eee;
  border: 0;
  font-size: 1em;
}

aside .add {
  color: #0c5460;
  background-color: rgba(209,236,241,.7);
  border-color: #bee5eb;
}

aside .add:hover {
  background-color: rgb(209,236,241);
}

aside .logout {
  color: #721c24;
  background-color: rgba(248,215,218,.7);
  border-color: #f5c6cb;
}

aside .logout:hover {
  background-color: rgb(248,215,218);
}

@media (max-width: 767px) {
  main aside form {
    width: initial;
  }

  .error {
    width: 80%;
  }
}

.secrets {
  margin-top: 3em;
}

.secret {
  margin-bottom: 1em;
}

.secret .name {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

input[name=edit-modal],
input[name=add-modal] {
  display: none;
}

input:checked ~ .edit-modal,
input:checked ~ .add-modal {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal .modal-container {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@media(max-width: 767px) {
  .modal {
    padding-top: 0;
  }

  .modal .modal-container {
    width: 100%;
  }
}

.modal .modal-header {
  background: #e2e3e5;
  font-size: 1.5em;
}

.modal .modal-header,
.modal .modal-content {
  padding: 1em;
}

.modal .close {
  float: right;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.modal .close:hover,
.modal .close:focus {
  text-decoration: none;
  cursor: pointer;
}

.modal form.delete,
.modal input.save {
  width: 40%;
}

.modal input.save {
  float: right;
}

.edit-modal .delete input {
  opacity: 1;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

aside {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

main {
  min-width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main form {
  max-width: 60vw;
}

.edit-modal form {
  max-width: 100%;
}

@media (max-width: 767px) {
  main form {
    max-width: 100%;
  }
}
