.toast.toast-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.toast.toast-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.toast {
  font-size: 1.2em;
  text-align: center;

  margin: 2em auto;
  padding: .75em 1.25em;

  border: 1px solid transparent;
  border-radius: .25em;

  background: rgba(48,55,66,.95);
  color: #fff;

  position: fixed;
  bottom: 2em;
  right: 2em;

  animation: fade 5s linear forwards;
}

@media (max-width: 767px) {
  .toast {
    bottom: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
}

.toast p {
  margin-bottom: .25em;
}

.toast .toast-progress {
  width: 0;
  height: 4px;
  background: rgba(12, 84, 96, .3);
  position: absolute;
  bottom: 5px;
  left: 2%;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
    0 -1px 0 rgba(151, 143, 143, 0.6);
  animation: progress 4s linear forwards 0.5s;
}

@keyframes progress {
  0%	{ width: 0%; background: rgba(0, 0, 0, .3); }
  100% { width: 96%; background: rgba(0, 0, 0, .6); }
}

@keyframes fade {
  0% 	{ opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; transform: translateY(0px);}
  99% { opacity: 0; transform: translateY(-30px);}
  100% { opacity: 0; }
}
