<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/assets/css/app.css" />
	</head>
	<body>
		<main>
			<div class="container">
				<form class="logout" action="/logout" method="POST">
					<button>X</button>
				</form>
				<form class="filter" action="/" method="POST">
					<input id="filter" name="filter" type="text" value="{{ .filter }}" required autocomplete="off" {{ if not .filter }}autofocus{{ end }} />
					<label for="filter"><span>Filter</span></label>
					<input type="submit" value="Search" />
				</form>
				<div class="secrets">
					{{range .secrets}}
						<div class="secret">
							<label for="secret-{{ .Id }}">
								<h3>{{ .Name }}</h3>
							</label>
							<input id="secret-{{ .Id }}" type="checkbox" name="secret" />
							<div class="value">{{ .Value}}</div>
						</div>
					{{end}}
				</div>
			</div>
	  </main>
	</body>
</html>
