<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/public/assets/css/app.css">
		<link rel="icon" type="image/png" href="/public/assets/favicon.png">
		<script src="/public/assets/js/session.js"></script>
		<script src="/public/assets/js/app.js"></script>
		<script>new App("{{ .csrfToken }}", {{ .sessionMaxAgeInSeconds }}).initialize()</script>
	</head>
	<body>
	  <main>
			<div class="container">
				{{ if .error }}
					<div class="error">{{ .error }}</div>
				{{ end }}
				<h1>Secrets</h1>
				<form id="login" action="/login" method="post">
					<input id="user" name="user" type="text" required autocomplete="off" value="{{ .user }}">
					<label for="user"><span>User</span></label>
					<input id="password" name="password" type="password" required autocomplete="off" {{ if .user }}autofocus{{ end }}>
					<label for="password"><span>Password</span></label>
					<input type="submit" value="Login">
				</form>
			</div>
	  </main>
	</body>
</html>
